{% extends 'base.html.twig' %}

{% block title %}Over ons!!{% endblock %}

{% block body %}
<div class="container">
<h1>Over ons↴</h1>
<p style="text-align:center;, width: 50%;">Wij zijn 2 studenten die de opleiding Software Development volgen aan het ROC Mondriaan in Den Haag</p>
</div>

{% endblock %}
